include ./html-start


section#content

  .col-sm-6.no-padding
    .left-content.padding-right
      a.logo(href="#")
        //include ./assets/imgs/logo.svg
        img.MHD(src="./assets/imgs/logo.png")
      .content
        #typed-strings
          p.title
            |Hi,
            br
            |My Name is Mohammed Alhazmi
            br
            | I am a
            span.purple  D
            |esigner,
            span.turquoise   D
            |eveloper and
            br
            |an
            span.yellow  E
            |lectrical
            span.yellow  E
            |ngineer.

        span#typed.title
      .sq.rotation
      .sq.rotation.sq-1
      .sq.rotation.sq-2
      .sq.rotation.sq-3
      .sq.rotation.sq-4
      .sq.rotation.sq-5

  .middle-content
      u.list
        li.list-item
          a.list-item-link ABOUT
        li.list-item
          a.list-item-link WORK
        li.list-item
          a.list-item-link GALLERY
        li.list-item
          a.list-item-link
            .moving-logo
              include ./assets/imgs/logo-square.svg
        li.list-item
          a.list-item-link ABOUT
        li.list-item
          a.list-item-link ABOUT
        li.list-item
          i.fa.fa-instagram.social
          i.fa.fa-facebook.social
          i.fa.fa-dribbble.social
  .col-sm-6.no-padding
    .right-content.padding-left
      .container-fluid
        .row
          .col-xs-6
            .col-1
              u.list
                li.list-item
                  a.list-item-link
                    h1.title code
                li.list-item
                  a.list-item-link
                    .circle-project.code-project-1
                li.list-item
                  a.list-item-link
                    .circle-project.code-project-2
                li.list-item
                  a.list-item-link
                    .circle-project.code-project-3
                li.list-item
                  a.list-item-link
                    .circle-project.code-project-1
              .more
                .arrow
                  i.fa.fa-arrow-down

          .col-xs-6
            .col-2
              u.list
                li.list-item
                  a.list-item-link
                    h1.title design
                li.list-item
                  a.list-item-link
                    .circle-project.design-project-1
                li.list-item
                  a.list-item-link
                    .circle-project.design-project-2
                li.list-item
                  a.list-item-link
                    .circle-project.design-project-3
                li.list-item
                  a.list-item-link
                    .circle-project.design-project-1
                li.more
                  .arrow
                    i.fa.fa-arrow-up
      .sq.rotation.bottom-1
      .sq.rotation.sq-1.bottom-2
      .sq.rotation.sq-2.bottom-3
      .sq.rotation.sq-3.bottom-4
      .sq.rotation.sq-4.bottom-5
      .sq.rotation.sq-5.bottom-6




include ./html-end


//Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
